.opcoes{
    display: flex;
    justify-content: center;
    margin: 10px;
    button{
        margin: 5px;
    }
}

.gallery {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-width: 20%;
    -moz-column-width: 20%;
    column-width: 20%; 
    padding: 10px 10px;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; 
    margin-bottom: 10px;
    img{
        width: 100%;
    }
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); 
}

@media (max-width: 960px) {
    .gallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-width: 33%;
        -moz-column-width: 33%;
        column-width: 33%;
    }
}
    

@media (max-width: 570px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 49%;
        -moz-column-width: 49%;
        column-width: 49%;
    }
}
    
@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}