/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 500px) {
    .parallax{
        background-image: url("../img/capa_siteTablet.jpg");
    }
    .desktop-hide{ 
        display: none !important; 
    }
}
@media only screen and (min-width: 900px) {
    .parallax{
        background-image: url("../img/capa_site.jpg");
    }
    .menu{
        float:right !important;
    }
    #myNavbar{
        float:right !important;
    }

    .border-left{
        border-left: solid lightgray 0.5px;
    }
    .border-right{
        border-right: solid lightgray 0.5px;
    }
} 
